html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
html,body{font-size:12px; font-family:Microsoft Yahei;overflow-x:hidden;height:100%;}
a,u,s{text-decoration:none;color:#333}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:12px;}
fieldset, img{border:none;border:0}
ul,ol,li{list-style:none;}
i,b{font-style:normal;display:inline-block;}
.fl{float:left}
.fr{float:right;}

/* 头部 */
.head{height:80px;min-width: 1200px;}
  /* 左边 */
.head .menu{width:624px;height:40px;margin:20px 0 0 37px;background:#fff;display:inline-block}
.head .menu .logo{width:88px;height:40px;display:inline-block;float:left;background:url(http://www.wutuojia.com/images/wtj-logo.png) no-repeat 0px 0px;
           background-size:contain}
.head .menu .nav{width:431px;height:40px;margin-left:73px;float:left;line-height:40px;}
.head .menu .nav li{float:left;width:92px;}
.head .menu .nav .first{color:#ccc}
.head .menu .nav  a{font-size:16px;width:32px;height:40px;line-height:40px;}
.head .menu .nav .third{width:155px}
.head .menu .nav .th-i{display:inline-block;height:18px;line-height:18px;background:#000;color:#fff;font-style:normal;border-radius:3px;}
.head .menu .search{margin:10px 0 0 10px;float:left}
.head .menu .search-btn{line-height:40px;width:22px;height:25px;display:inline-block;background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat 0 0}
.head .menu .search-btn:hover{background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat -25px 0}
   /* 右边 */
.head .fr .collocation{float:left;line-height:80px;}
.head .fr .collocation a{display:inline-block;width:100px;height:30px;line-height:30px;background:#000;color:#fff;
        border-radius:20px;margin-top:25px;position: relative;}
.head .fr .collocation a div{width:100px;height:30px;position: absolute;background:#f0f0f0;opacity:0;} 
.head .fr .collocation a:hover  div{opacity: .3;}          
.head .fr .collocation a  i{width:28px;height:19px;display:inline-block;background:url(http://www.wutuojia.com/images/front/mybuild_v2/mybuild_btn.png) no-repeat 0 0;
         margin:5.5px 0 0 13px;background-size:contain;float:left} 
.head .fr .collocation a h2{float:right;margin-right:5px;}       
.head .fr .login{display:inline-block;width:70px;height:30px;padding:15px 0;margin:10px 0 0 40px;float:left;cursor: pointer;} 
.head .fr .login i{width:30px;height:30px;background:url(http://www.wutuojia.com/images/front/mybuild_v2/login-no.png) no-repeat center center;} 
.head .fr .login b{width:14px;height:14px;margin:8px 0 8px 10px;background-size:contain;background:url(http://www.wutuojia.com/images/arrow-3.png)  no-repeat 0 center}    
.head a:hover{color:#ccc;}

/* 轮播图 */
.banner{min-width:1200px;position: relative}
.banner .ban-slide{height:548px;background: pink}
  /* 左右按钮 */
.ban-slide p{display:inline-block;width:42px;height:78px;position: absolute;top:50%;margin-top:-35px;cursor: pointer;
    background: url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat  -125px -30px}
.ban-slide .prev{left:10px;}
.ban-slide .next{right:10px;background-position: -168px -30px}
.ban-slide .prev:hover{background-position-x: -220px}
.ban-slide .next:hover{background-position-x: -265px}
  /* 轮播图片 */
.ban-slide .pic{width:1519px;position: relative;overflow: hidden;}
.pic ul{width:7595px}
.pic ul li img{display:inline-block;width:1519px;height:548px;}
/* 一级菜单 */
.banner .ban-menu{position: absolute;top:30px;left:40px;width:90px;z-index:999}
.ban-menu li{height:45px;line-height:45px;text-align: center;border: 1px solid #f0f0f0;background:#fff;cursor: pointer;}
.ban-menu li:first-child{border: none}
.ban-menu li h3{font-size:14px;}
   /* 二级菜单 */
.ban-menu-hover{width:440px;height:186px;background:#111;position: absolute;top:0;left:90px;z-index:999;display:none}
.ban-menu-hover .ban-menu-boxs{margin:30px 0 30px 50px}
.ban-menu-boxs .cow-banner{width:30%;float:left;overflow: hidden;}
.cow-banner a{height:26px;line-height:26px;display:block;text-align: left;color:#fff;}
/* 主体框架及标题 */
.w1200{width:1200px;margin:0 auto}
.rec-commodity{margin-top:80px;overflow: hidden;}
.rec-commodity-head{height:44px;overflow: hidden;}
.rec-name{font-size:34px;display:inline-block}
.pro-nav{display:inline-block;padding:25px 25px 0 0}
.pro-nav a{position:relative;color:#999}
.pro-nav  i{position:absolute;bottom:0;left:24px;width:17px;height:17px;background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat -18px -26px;
            margin:1px 0 0 7px}
.pro-nav a:hover{color:#000;}
.pro-nav a:hover i{background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat 0px -26px}
.line{float:left;margin-bottom:80px}
.line .bot{width:80px;height:80px;border-bottom:1px solid #000;margin:0 auto}


/* 推荐商品 */
.rec-commodity-ul{width:1240px}
.rec-commodity-ul li{background:#fff;position:relative;width:300px;height:405px;float:left;margin-top:10px;}
.commodity-box-main{position:absolute;padding:12px;}
/* 图片 */
.commodity-box-main .commodity-box-img{display:inline-block;width:276px;height:276px;background:#fff;}
.commodity-box-img img{width:276px;height:276px}
/* 文字 */
.commodity-box-main .commodity-box-explain .impression{margin-top:15px;color:#999;text-indent:0px;}
.commodity-box-explain .impression a{text-align:left}
.commodity-box-explain .meterial{height:35px;line-height:35px;font-size:14px;overflow: hidden}
.commodity-box-explain .attribute{margin-bottom:15px;color:#999;text-indent:0}


/* 达人搭配 */
.my-take .my-take-ul{width:1224px;height:284px;margin:30px 0;}
/* 图片 */
.my-take-ul .lazy-wrap{float:left;margin-right:26px}
.my-take-ul li img{width:280px;height:280px;}
.my-take .my-take-nav{border-bottom:1px solid #000;position:relative;height:12px;overflow: hidden;}
.my-take-nav .my-take-arrow{width:280px;text-align: center;position:absolute;left:0}
/* 解释 */
.my-take .works{display:inline-block;margin-top:30px}
.works .author-info .author-img{width:64px;height:64px;margin-left:17px;float:left;border-radius:90px;overflow: hidden;}
.works .author{margin-left:100px;width:360px}
.author h3{font-size:16px;height:27px;line-height:27px;overflow: hidden;white-space: nowrap}
.author .title{white-space: nowrap}
.author p{margin-top:15px;line-height:22px;font-size:14px;color:#333}
.works .work-div{padding-right:20px;text-align: right}
.work-div .work-div-ul{display:inline-block;overflow: hidden;}
.work-div-ul li{width:110px;text-align: center;float:left;margin-left:57px}
.work-div-ul .work-ul-a{width:110px;height:110px;margin-bottom: 16px;line-height:110px;text-align: center;display:inline-block;vertical-align: middle}
.work-ul-a img{vertical-align: middle;max-height:110px;max-width:110px}
.work-ul-a span{height:100%;vertical-align: middle;display:inline-block}
.work-div-ul h3 a{width:102px;display:inline-block;}


/* 推荐灵感 */
.inspiration .inspiration-ul{width:1228px;margin-top:30px}
.inspiration .inspiration-ul li{float:left;width:281px;margin-right:25px;position:relative}
.inspiration-ul .inspir-box{width:280px;height:280px;position:relative}
.inspir-box .inspir-a{width:280px;height:280px;display:inline-block;overflow: hidden;}
.inspir-a .inspir-a-img{width:280px}
.inspir-box .icon{width:60px;height:60px;border-radius:90px;position: relative;bottom:30px;left:50%;margin-left:-30px;border:1px solid #fff}
.icon img{width:60px;height:60px;border-radius:90px;}
.inspiration-ul li h3{height:30px;line-height:30px;margin-top: 40px;text-align: center;font-size:14px}
.inspiration-ul li p{height:40px;line-height:20px;padding:0 15px 0 14px;text-align: center;overflow: hidden;}
.inspiration-ul .heart-div{text-align:center}
.heart-div .heart{height:14px;line-height:14px;margin: 0px auto;margin-top:10px;font-family: Tahoma;display:inline-block;position:relative}
.heart i{width:16px;height:14px;margin-right:8px;display:inline-block;background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat 0 -47px}
.num{line-height: 12px}
.inspir-box:hover .inspir-a-img{opacity: .7;}
.heart:hover i{cursor: pointer;background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat -17px -47px}


/* 选购指南 */
.guide .guide-main{margin-top: 30px}
/* 左边 */
.guide-main .guide-main-l{height:393px;position: relative;float:left;overflow: hidden;}
.guide-main-l .g-m-b{position: absolute;bottom: 0;width:100%;height:120px;background:#000;opacity: .5;}
.guide-main-l .g-m-c{height:80px;position: absolute;bottom: 0;padding:20px;color:#fff}
.g-m-c h2{font-size:26px;line-height:26px;}
.g-m-c p{width:326px;margin-top: 16px;}
.guide-main-l img{width:523px;height:393px;}
/* 中间 */
.guide-main .guide-main-c{margin:0 10px;width:370px;float:left}
.guide-main-c .guide-c-top,.guide-main-c .guide-c-btm{position: relative;width:370px;height:192px;margin-bottom: 10px;overflow: hidden;}
.guide-c-top img{width:370px;height:192px}
.guide-c-top .guide-c-con,.guide-c-btm .guide-c-con2{position: absolute;left:50%;top:50%;width:181px;height:66px;margin:-33px 0 0 -95px; overflow: hidden;z-index: 9999;color:#fff}
.guide-c-con p,.guide-c-con2 p,.guide-c-con3 p{text-align: center;margin-bottom:5px;white-space: nowrap}
.guide-c-con h2,.guide-c-con2 h2,.guide-c-con3 h2{text-align: center;font-size:26px;line-height:26px;white-space: nowrap}
/* 右边 */
.guide-main .guide-main-r{float:left;position:relative;height:393px;overflow: hidden;}
.guide-main-r .guide-c-con3{position: absolute;width:160px;height:113px;padding-top:47px;left:50%;top:50%;margin:-80px 0 0 -80px;color:#fff;background:#000;opacity: .5;}


/* -----热门品牌----- */
.pop-brand{margin-bottom:80px}
.pop-brand .pop-brand-main{margin-top:30px;}
.pop-brand-main .popBanner{position: relative;height:618px;}
/* 左右按钮 */
.popBanner .prev,.popBanner .next{position: absolute;top:50%;margin-top:-10px;width:13px;height:20px;cursor: pointer;z-index: 2;
        background:url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat -125px -30px}
.popBanner .prev{background-position: -189px -465px;left:90px}
.popBanner .next{background-position: -203px -465px;right:25px}
.popBanner .prev:hover{background-position: -219px -465px;}
.popBanner .next:hover{background-position: -233px -465px;}
/* 轮播图 */
.popBanner .bgi{height:618px;background:url(http://www.wutuojia.com/images/front/topbrand1.jpg) no-repeat 0 0}
.bgi .tempWrap{width:1200px;position: relative;overflow: hidden;}
.tempWrap ul{width:6000px;position: relative;overflow: hidden;}
.tempWrap ul li{float:left;width:1200px;position: relative;}
.tempWrap li .tw-img{height:618px;width:100% !important;background:url(http://www.wutuojia.com/images/front/rd1.png) no-repeat 50% 50%}
.tw-img .tw-img-slide{margin:52px 62px;display: inline-block}
    /* 厂标 */
.tw-img-slide .banner-com{width:80px;overflow: hidden;float:left}     
.tw-img-slide .banner-com i{width:80px;height:114px;display:inline-block;background: url(http://www.wutuojia.com/images/front/wtjicon.png) no-repeat -189px -345px}
    /* logo */
.tw-img-slide .pb-logo-div{width:300px;height:515px;float:left;position: relative;}
.pb-logo-div .pb-logo{height:330px;line-height:330px;vertical-align: middle;position: relative;z-index: 2;}
.pb-logo .logo-brand{text-align: center;}
.pb-logo .logo-brand div{width:300px;height:175px;margin:0;padding:0}
.pb-logo .logo-brand img{width:100px;overflow: hidden;}
.logo-brand p{line-height:22px;overflow: hidden;}
.pb-logo-div .pb-content{position: relative;z-index: 2;text-align: center}
.pb-content h2{font-size:20px;margin-bottom: 16px;font-weight: bold}
.pb-content p{font-size:16px;line-height:30px;}
.pb-logo-div .pb-bg{width:300px;height:515px;position: absolute;top:0;left:0;background: #ffff;opacity: .6;}
    /* 内容 */
.tw-img-slide .pb-main{width:695px;height:470px;padding-top:45px;background:#fff;float:left}
.pb-main a{display:inline-block;float:left;margin:0 0 15px 55px}
.pb-main .pb-main-img{width:160px;height:160px;line-height:160px;margin-bottom: 6px;border: 1px solid #f0f0f0;}
.pb-main-img img{width:160px;vertical-align: middle}
.pb-main-img span{height:100%;display:inline-block;vertical-align: middle}
.pb-main a p{width:155px;line-height:20px;overflow: hidden;white-space: nowrap}
/* 图形按钮 */
.popBanner .nav-div{text-align: center;margin-top:-30px;}
.nav-div .nav-ul{text-align: center;margin:auto 0;display:inline-block}
.nav-ul li{float:left;width:12px;height:12px;border-radius:50%;background:#000;margin-right:10px;cursor: pointer}


/* 底部 */
.footer{min-width:1200px;height:395px;background:#f0f0f0}
   /* 主体 */
.footer .footer-main{padding:40px 0 30px}
   /* 主体上 */
.footer-main .footer-tag{margin-bottom: 34px;padding-bottom: 40px;border-bottom: 1px solid #ddd;overflow: hidden;}
.footer-tag li{width:360px;padding-left:82px;float:left;position: relative}
.footer-tag li i{position: absolute;top:0;left:0;background: url(http://www.wutuojia.com/images/front/b_ic.png) no-repeat 0 }
.footer-tag li .tag-l{top:8px;width:58px;height:36px;}
.footer-tag li .tag-c{background-position: -66px 0;width:49px;height:49px;}
.footer-tag li .tag-r{background-position:-123px 0;width:47px;height:47px;}
.footer-tag li span{font-size:24px;line-height:24px;color:#333}
.footer-tag li p{font-size:16px;margin-top:6px;color:#999}
.footer-tag .tag-li-r{float:right;width:250px;box-sizing: border-box}
   /* 主体下左 */
.footer-main .footer-com{display:inline-block;color:#999}
.footer-com img{width:114px;height:52px}
.footer-cont{margin-top: 65px;cursor: pointer;}
   /* 主体下右 */
.footer-main .footer-link{float:right;}
.footer-link .about-us,.footer-link .help{width:170px;float:left}
.about-us span,.help span{font-size:18px;margin-bottom: 20px;color:#333;display:inline-block}
.footer-link li{height:24px;line-height:24px}
.footer-link li a{color:#999}
.footer-link li a:hover{color:#333}
.footer-link .qrcode{float: left;text-align: center}
.qrcode img{width:130px;height:130px}
.qrcode p{font-size:12px;line-height:12px;margin-top: 7px;color:#999;text-align: center}
   /* 结尾 */
.footer .links{padding:10px 0;border-top: 1px solid #999;height: inherit;overflow: inherit;}
.links .links-l{width:1160px;line-height:23px;float: left;}
.links-l .left{float:left}
.links-l .links-centent{margin-left:70px;word-break: break-all}
.links-l a{color:#999;margin-right:13px;display: inline-block}
.links-l a:hover{color:#333}
.links .links-move{float:left;margin-top: 3px;}
.links-move a{width:17px;height:17px;position: relative;display: inline-block;color: #999}
.links-move a i{width:17px;height:17px;display: inline-block;position: absolute;background: url(http://www.wutuojia.com/images/front/commodityicon.png) no-repeat -45px 0}
.links-move a:hover i{background-position: -45px -20px}






